<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UsersCRUDServlet</servlet-name>
        <servlet-class>controller.admin.UsersCRUDServlet</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UsersAddServlet</servlet-name>
        <servlet-class>controller.admin.UsersAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersEditServlet</servlet-name>
        <servlet-class>controller.admin.UsersEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersDeleteServlet</servlet-name>
        <servlet-class>controller.admin.UsersDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersCRUDServlet</servlet-name>
        <url-pattern>/admin/UsersCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersAddServlet</servlet-name>
        <url-pattern>/admin/UsersAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersEditServlet</servlet-name>
        <url-pattern>/UsersEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersDeleteServlet</servlet-name>
        <url-pattern>/admin/UsersDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
